# Environment variables
.env

# Terraform state and variables
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.zip
terraform/*.backup
*.tfstate
*.tfstate.backup

# Secrets
data ingestion/service_key.json

# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc

# State files
data ingestion/extract/state.json
cloud_functions/extract/state.json


# IDE configuration
.vscode/ 